force-app/main/default/flows/flwCallTUCreditReport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TU_Credit_Pull_Action</name>
        <label>TU Credit Pull Action</label>
        <locationX>686</locationX>
        <locationY>563</locationY>
        <actionName>callTransUnionCRAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TU_Check_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>creditOutput</name>
            <value>
                <elementReference>TU_CreditReportOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>callTransUnionCRAction</nameSegment>
        <outputParameters>
            <assignToReference>TU_API_CreditPullResponse</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>TU_Request_Value</name>
        <label>TU Request Value</label>
        <locationX>548</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SSNNumber%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Social_Security_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;#&amp;#&amp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FirstName%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;#&amp;#&amp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LastName%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;#&amp;#&amp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ApartmentNumber%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Apartment_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;#&amp;#&amp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Street%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;#&amp;#&amp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>City%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;#&amp;#&amp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>State%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;#&amp;#&amp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Country%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;#&amp;#&amp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PostalCode%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Zip_postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;#&amp;#&amp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>RecordId%%%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TU_CreditReportOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TU_Credit_Pull_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_credit_score</name>
        <label>Check_credit_score</label>
        <locationX>1408</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_credit_score_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TU_Credit_Score</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_content_version</targetReference>
            </connector>
            <label>check_credit_score_value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Credit_Score_NULL</name>
        <label>Check Credit Score NULL</label>
        <locationX>808</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Update_Credit_Score_On_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TU_Credit_Score_Responce_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TU_Credit_Score</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NULL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Score_On_Contact_Clone</targetReference>
            </connector>
            <label>TU Credit Score Responce Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_check_contact_Detail_change_or_not</name>
        <label>To check contact Detail change or not</label>
        <locationX>350</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>TU_Request_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SSN_number_Len</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SSN_Num</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SSN_Validation_Screen</targetReference>
            </connector>
            <label>Check SSN number Len</label>
        </rules>
    </decisions>
    <decisions>
        <name>TU_Check_Screen</name>
        <label>TU Reponce Value Check</label>
        <locationX>811</locationX>
        <locationY>565</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passward_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TU_Screen_Value_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tu_Screen_Value_Check1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TU_Internal_Error_Message</targetReference>
            </connector>
            <label>Passward error</label>
        </rules>
        <rules>
            <name>Success_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TU_Screen_Value_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tu_Screen_Value_Check1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Report_Response</targetReference>
            </connector>
            <label>Success Screen</label>
        </rules>
        <rules>
            <name>Error_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TU_Screen_Value_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TU_Success_Error</targetReference>
            </connector>
            <label>Error Screen</label>
        </rules>
    </decisions>
    <description>This flow is used to fetch credit report and credit data from Transunion using SOAP API</description>
    <environments>Default</environments>
    <formulas>
        <name>SSN_Num</name>
        <dataType>Number</dataType>
        <expression>LEN({!Social_Security_Number})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TU_Content_Document_Id</name>
        <dataType>String</dataType>
        <expression>TRIM(MID({!TU_API_CreditPullResponse}, FIND(&quot;,,&quot;, {!TU_API_CreditPullResponse}) + 2, FIND(&quot;currentAddress=&quot;, {!TU_API_CreditPullResponse}) - FIND(&quot;,,&quot;, {!TU_API_CreditPullResponse}) - 2))</expression>
    </formulas>
    <formulas>
        <name>TU_Credit_Score</name>
        <dataType>String</dataType>
        <expression>MID({!TU_API_CreditPullResponse}, FIND(&quot;###&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;###&quot;), FIND(&quot;,&quot;, {!TU_API_CreditPullResponse}) - (FIND(&quot;###&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;###&quot;)))</expression>
    </formulas>
    <formulas>
        <name>TU_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TRIM(MID({!TU_API_CreditPullResponse}, FIND(&quot;,&quot;, {!TU_API_CreditPullResponse}) + 1, LEN({!TU_API_CreditPullResponse}))))</expression>
    </formulas>
    <formulas>
        <name>TU_Error_Screen_PWDChange</name>
        <dataType>String</dataType>
        <expression>
TRIM(LEFT(SUBSTITUTE({!TU_API_CreditPullResponse}, &apos;errorMessage=(%%%&apos;, &apos;&apos;), FIND(&quot;)status=&quot;, SUBSTITUTE({!TU_API_CreditPullResponse}, &apos;errorMessage=(%%%&apos;, &apos;&apos;))-1))</expression>
    </formulas>
    <formulas>
        <name>TU_ErrorMsg</name>
        <dataType>String</dataType>
        <expression>LEFT(
    {!TU_API_CreditPullResponse},
    FIND(
        &quot;*Request*&quot;,
        {!TU_API_CreditPullResponse}
    ) - 1
)</expression>
    </formulas>
    <formulas>
        <name>TU_Request</name>
        <dataType>String</dataType>
        <expression>MID(
    {!TU_API_CreditPullResponse},
    FIND(&quot;*Request*&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;*Request*&quot;),
    FIND(&quot;*Response*&quot;, {!TU_API_CreditPullResponse}, FIND(&quot;*Request*&quot;, {!TU_API_CreditPullResponse})) - FIND(&quot;*Request*&quot;, {!TU_API_CreditPullResponse}) - LEN(&quot;*Request*&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>TU_Responce_Current_Address</name>
        <dataType>String</dataType>
        <expression>TRIM(MID({!TU_API_CreditPullResponse}, FIND(&quot;currentAddress=&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;currentAddress=&quot;), FIND(&quot;previousAddress1=&quot;, {!TU_API_CreditPullResponse}) - FIND(&quot;currentAddress=&quot;, {!TU_API_CreditPullResponse}) - LEN(&quot;previousAddress1=&quot;) + 1))</expression>
    </formulas>
    <formulas>
        <name>TU_Responce_Previous_Address1</name>
        <dataType>String</dataType>
        <expression>TRIM(MID({!TU_API_CreditPullResponse}, FIND(&quot;previousAddress1=&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;previousAddress1=&quot;), FIND(&quot;previousAddress2=&quot;, {!TU_API_CreditPullResponse}) - FIND(&quot;previousAddress1=&quot;, {!TU_API_CreditPullResponse}) - LEN(&quot;previousAddress2=&quot;)))</expression>
    </formulas>
    <formulas>
        <name>TU_Responce_Previous_Address2</name>
        <dataType>String</dataType>
        <expression>MID(
    {!TU_API_CreditPullResponse},
    FIND(&quot;previousAddress2=&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;previousAddress2=&quot;),
    FIND(&quot; *Request*&quot;, {!TU_API_CreditPullResponse}, FIND(&quot;previousAddress2=&quot;, {!TU_API_CreditPullResponse})) - FIND(&quot;previousAddress2=&quot;, {!TU_API_CreditPullResponse}) - LEN(&quot;previousAddress2=&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>TU_Response</name>
        <dataType>String</dataType>
        <expression>MID({!TU_API_CreditPullResponse}, FIND(&quot;*Response*&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;*Response*&quot;), LEN({!TU_API_CreditPullResponse}) - FIND(&quot;*Response*&quot;, {!TU_API_CreditPullResponse}) + 1)</expression>
    </formulas>
    <formulas>
        <name>TU_Screen_Value_Check</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!TU_API_CreditPullResponse}, &apos;###&apos;)</expression>
    </formulas>
    <formulas>
        <name>Tu_Screen_Value_Check1</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!TU_API_CreditPullResponse}, &apos;%%%&apos;)</expression>
    </formulas>
    <formulas>
        <name>TU_Status</name>
        <dataType>String</dataType>
        <expression>MID({!TU_API_CreditPullResponse}, FIND(&quot;status=&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;status=&quot;), FIND(&quot;statusreportResult=&quot;, {!TU_API_CreditPullResponse}) - (FIND(&quot;status=&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;status=&quot;)))</expression>
    </formulas>
    <formulas>
        <name>TU_Status_Report_Result</name>
        <dataType>String</dataType>
        <expression>MID({!TU_API_CreditPullResponse}, FIND(&quot;statusreportResult=&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;statusreportResult=&quot;), FIND(&quot;###&quot;, {!TU_API_CreditPullResponse}) - (FIND(&quot;statusreportResult=&quot;, {!TU_API_CreditPullResponse}) + LEN(&quot;statusreportResult=&quot;)))</expression>
    </formulas>
    <interviewLabel>flwCallTUCreditReport {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isOverridable>true</isOverridable>
    <label>flwCallTUCreditReport</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>1802</locationX>
        <locationY>201</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>get_content_version.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>tranunion_id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Trans_Union_History_Record</name>
        <label>Create Trans Union History Record</label>
        <locationX>1256</locationX>
        <locationY>196</locationY>
        <assignRecordIdToReference>tranunion_id</assignRecordIdToReference>
        <connector>
            <targetReference>Check_credit_score</targetReference>
        </connector>
        <inputAssignments>
            <field>API_Call_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>TU_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>TU_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Of_This_API_Call__c</field>
            <value>
                <elementReference>TU_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransUnion_API_Called__c</field>
            <value>
                <stringValue>Credit Request</stringValue>
            </value>
        </inputAssignments>
        <object>TransUnion_API_Call_History__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Trans_Union_History_Record_0</name>
        <label>Create Trans Union History Record</label>
        <locationX>1007</locationX>
        <locationY>795</locationY>
        <assignRecordIdToReference>tranunion_id</assignRecordIdToReference>
        <inputAssignments>
            <field>API_Call_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>TU_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>TU_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Of_This_API_Call__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransUnion_API_Called__c</field>
            <value>
                <stringValue>Credit Request</stringValue>
            </value>
        </inputAssignments>
        <object>TransUnion_API_Call_History__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>204</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Report_request_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ApartmentNumberVar</assignToReference>
            <field>Apartment_Num__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstNamevar</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastNameVar</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingCityVar</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingCountryVar</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingPostalCodeVar</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingStateVar</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MailingStreetVar</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SocialSecurityNumberVar</assignToReference>
            <field>Social_Security_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_content_version</name>
        <label>get_content_version</label>
        <locationX>1651</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TU_Content_Document_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Credit_Score_On_Contact</name>
        <label>Update Credit Score On Contact</label>
        <locationX>1065</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Create_Trans_Union_History_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apartment_Num__c</field>
            <value>
                <elementReference>Apartment_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Score__c</field>
            <value>
                <elementReference>TU_Credit_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_TU_Credit_Report_Request_Result__c</field>
            <value>
                <elementReference>TU_Status_Report_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_TU_Credit_Report_Request__c</field>
            <value>
                <elementReference>TU_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Zip_postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_Number__c</field>
            <value>
                <elementReference>Social_Security_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TU_Address_1__c</field>
            <value>
                <elementReference>TU_Responce_Current_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TU_Address_2__c</field>
            <value>
                <elementReference>TU_Responce_Previous_Address1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TU_Address_3__c</field>
            <value>
                <elementReference>TU_Responce_Previous_Address2</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Credit_Score_On_Contact_Clone</name>
        <label>Update Credit Score On Contact</label>
        <locationX>1066</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Create_Trans_Union_History_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apartment_Num__c</field>
            <value>
                <elementReference>Apartment_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Score__c</field>
            <value>
                <elementReference>TU_Credit_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_TU_Credit_Report_Request_Result__c</field>
            <value>
                <elementReference>TU_Status_Report_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_TU_Credit_Report_Request__c</field>
            <value>
                <elementReference>TU_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Zip_postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_Number__c</field>
            <value>
                <elementReference>Social_Security_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TU_Address_1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>TU_Address_2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>TU_Address_3__c</field>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Credit_Report_request_Details</name>
        <label>Credit Report  request Details</label>
        <locationX>204</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>To_check_contact_Detail_change_or_not</targetReference>
        </connector>
        <fields>
            <name>Social_Security_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SocialSecurityNumberVar</elementReference>
            </defaultValue>
            <fieldText>Social Security Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FirstNamevar</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LastNameVar</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MailingAddress</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(1, 9, 21);&quot;&gt; Mailing address&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Report_request_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Credit_Report_request_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Apartment_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ApartmentNumberVar</elementReference>
                    </defaultValue>
                    <fieldText>Apartment Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>MailingCityVar</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>MailingCountryVar</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Credit_Report_request_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>MailingStreetVar</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>MailingStateVar</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Zip_postal_code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>MailingPostalCodeVar</elementReference>
                    </defaultValue>
                    <fieldText>Zip/postal code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Report_Response</name>
        <label>Credit Report Response</label>
        <locationX>818</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Credit_Score_NULL</targetReference>
        </connector>
        <fields>
            <name>responce</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(1, 2, 18);&quot;&gt;CREDIT RETRIEVAL DATE: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(43, 157, 2);&quot;&gt;{!TU_Date_Time}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(3, 6, 34);&quot;&gt;CREDIT SCORE:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(25, 83, 5);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(43, 157, 2);&quot;&gt;{!TU_Credit_Score}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(13, 27, 180);&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SSN_Validation_Screen</name>
        <label>SSN Validation Screen</label>
        <locationX>359</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SSNValidation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(202, 9, 9); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;Social security Number must be entered in 11 digits.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Check_SSN_number_Len</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TU_Internal_Error_Message</name>
        <label>TU_Internal_Error_Message</label>
        <locationX>1005</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Trans_Union_History_Record_0</targetReference>
        </connector>
        <fields>
            <name>TU_error_message_show</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 14, 14);&quot;&gt;{!TU_Error_Screen_PWDChange}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TU_Success_Error</name>
        <label>TU_Success_Error</label>
        <locationX>817</locationX>
        <locationY>795</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Trans_Union_History_Record_0</targetReference>
        </connector>
        <fields>
            <name>Show_output</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 14, 14);&quot;&gt;{!TU_ErrorMsg}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApartmentNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstNamevar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingCityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingCountryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingPostalCodeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingStateVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MailingStreetVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutPut</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SocialSecurityNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tranunion_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TU_API_CreditPullResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TU_CreditReportOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
