force-app/main/default/flows/flwTUEditSettings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Custom_Setting</name>
        <label>Update Custom Setting</label>
        <locationX>1196</locationX>
        <locationY>241</locationY>
        <actionName>UpdateTUCRSettings</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputList</name>
            <value>
                <elementReference>storeInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateTUCRSettings</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Security_Setting_Value</name>
        <label>Check Security Setting Value</label>
        <locationX>842</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Update_Custom_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IndusrtyCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>industryCodeLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message</targetReference>
            </connector>
            <label>IndusrtyCode</label>
        </rules>
        <rules>
            <name>InquiryCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inquiryCodeLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message</targetReference>
            </connector>
            <label>InquiryCode</label>
        </rules>
        <rules>
            <name>memberCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>memoberCodeLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message</targetReference>
            </connector>
            <label>memberCode</label>
        </rules>
        <rules>
            <name>paasword</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>passwordLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message</targetReference>
            </connector>
            <label>paasword</label>
        </rules>
        <rules>
            <name>vendorId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vendorIdLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message</targetReference>
            </connector>
            <label>vendorId</label>
        </rules>
        <rules>
            <name>systemPassword</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PasswordValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message</targetReference>
            </connector>
            <label>systemPassword</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkPasswordChar</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    LEN({!System_Password}) &gt;= 8,
    LEN({!System_Password}) &lt;= 20
)</expression>
    </formulas>
    <formulas>
        <name>encrptedPrefixCode</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;****&quot;, LEN({!getPrefixCode}))</expression>
    </formulas>
    <formulas>
        <name>encryptedCertificate</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;***************************************************************************************************************************************************************************************************************************************************************&quot;, LEN({!getCertificate}))</expression>
    </formulas>
    <formulas>
        <name>encryptedCreditAPIEndpoint</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;***************************************************************************************************************************************************************************************************************************************************************&quot;,LEN({!getCreditAPIEndpoint}))</expression>
    </formulas>
    <formulas>
        <name>encryptedMemberCode</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;********&quot;, LEN({!getMemberCode}))</expression>
    </formulas>
    <formulas>
        <name>encryptedPassword</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;****&quot;, LEN({!getTUPassword}))</expression>
    </formulas>
    <formulas>
        <name>encryptedPort</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;**********************************************************************************************&quot;, LEN({!getPort}))</expression>
    </formulas>
    <formulas>
        <name>encryptedSystemId</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;********************&quot;, LEN({!getSystemId}))</expression>
    </formulas>
    <formulas>
        <name>encryptedSystemPassword</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;********************&quot;, LEN({!getSystemPassword}))</expression>
    </formulas>
    <formulas>
        <name>encryptedVendorId</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;*****&quot;, LEN({!getVendorId}))</expression>
    </formulas>
    <formulas>
        <name>encryptIndustryCode</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;*&quot;, LEN({!getIndustryCode}))</expression>
    </formulas>
    <formulas>
        <name>industryCodeLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!TU_Industry_Code})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>inquiryCodeLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!TU_Inquiry_Subscriber_Prefix_Code})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>memoberCodeLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!TU_Member_Code})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>passwordLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!TU_Password})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PasswordValidation</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!System_Password}, &quot;^(?=.*[0-9].*[0-9])(?=.*[a-zA-Z].*[a-zA-Z])[0-9a-zA-Z]{8,20}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>vendorIdLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!TU_Vendor_Id})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>flwTUEditSettings {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>flwTUEditSettings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Custom_Setting</name>
        <label>Get Custom Setting</label>
        <locationX>295</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_custom_Setting</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TU_CR_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Edit_Custom_Setting_Details</name>
        <label>Edit custom setting</label>
        <locationX>655</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_Security_Setting_Value</targetReference>
        </connector>
        <fields>
            <name>TU_Industry_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Custom_Setting.TU_Industry_Code__c</elementReference>
            </defaultValue>
            <fieldText>TU Industry Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TU_Inquiry_Subscriber_Prefix_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Custom_Setting.TU_Inquiry_Subscriber_Prefix_Code__c</elementReference>
            </defaultValue>
            <fieldText>TU Inquiry Subscriber Prefix Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TU_Member_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Custom_Setting.TU_Member_Code__c</elementReference>
            </defaultValue>
            <fieldText>TU Member Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TU_Password</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Custom_Setting.TU_Password__c</elementReference>
            </defaultValue>
            <fieldText>TU Password</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TU_Vendor_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Custom_Setting.TU_Vendor_Id__c</elementReference>
            </defaultValue>
            <fieldText>TU Vendor Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>System_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Custom_Setting.TU_SystemID__c</elementReference>
            </defaultValue>
            <fieldText>TU System ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>System_Password</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Custom_Setting.TU_System_Password__c</elementReference>
            </defaultValue>
            <fieldText>TU System Password</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TU_Certificate_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Custom_Setting.TU_Certificate_Name__c</elementReference>
            </defaultValue>
            <fieldText>TU Certificate Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TUCreditAPIEndpoint</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Custom_Setting.TU_Credit_API_Endpoint__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>TU Credit API Endpoint</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TU_Credit_API_Port</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Custom_Setting.TU_Credit_API_Port__c</elementReference>
            </defaultValue>
            <fieldText>TU Credit API Port</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Store_custom_Setting</name>
        <label>Store Custom Setting</label>
        <locationX>479</locationX>
        <locationY>246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Edit_Custom_Setting_Details</targetReference>
        </connector>
        <fields>
            <name>CustomeSetting</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;TU Industry Code: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!encryptIndustryCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;TU Inquiry Subscriber Prefix Code: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!encrptedPrefixCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;TU Member Code: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!encryptedMemberCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;TU Password: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!encryptedPassword}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;TU Vendor Id: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!encryptedVendorId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;TU System ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!encryptedSystemId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;TU System Password: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!encryptedSystemPassword}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;TU Certificate Name: &lt;/strong&gt;{!encryptedCertificate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;TU Credit API Endpoint: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!encryptedCreditAPIEndpoint}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 37, 34);&quot;&gt;TU Credit API Port: &lt;/strong&gt;&lt;span style=&quot;color: rgb(32, 37, 34);&quot;&gt;{!encryptedPort}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Message</name>
        <label>Validation Message</label>
        <locationX>847</locationX>
        <locationY>532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IndustryCode</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(189, 16, 16); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;TU Industry Code must be entered in 1 digit.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>IndusrtyCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubscriberCode</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(189, 16, 16); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;TU Inquiry Subscriber prefix Code must be entered in 4 digits.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>InquiryCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TUmemberCode</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 14px; color: rgb(189, 16, 16);&quot;&gt;TU Member Code must be entered in 7 digits.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>memberCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TUPassword</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 14px; color: rgb(189, 16, 16);&quot;&gt;TU Password must be entered in 4 digits.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>paasword</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TUVendorId</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 14px; color: rgb(189, 16, 16);&quot;&gt;TU Vendor Id must be entered in 5 digits.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>vendorId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SystemPasswordValidation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(208, 7, 7);&quot;&gt;Passwords must be a minimum of eight characters and must include at least two letters and two numbers. No special characters are allowed. Maximum length is 20 characters.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>systemPassword</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>169</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>Get_Custom_Setting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getCertificate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_Certificate_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>getCreditAPIEndpoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_Credit_API_Endpoint__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>getIndustryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_Industry_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>getMemberCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_Member_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>getPort</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_Credit_API_Port__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>getPrefixCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_Inquiry_Subscriber_Prefix_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>getSystemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_SystemID__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>getSystemPassword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_System_Password__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>getTUPassword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_Password__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>getVendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Custom_Setting.TU_Vendor_Id__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>storeInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>EndPoint={!storeURL},IndustryCode ={!TU_Industry_Code},Inquiry={!TU_Inquiry_Subscriber_Prefix_Code},Member={!TU_Member_Code},Password={!TU_Password},Vendor={!TU_Vendor_Id},SystemID={!System_ID},SystemPassword={!System_Password},Certificate={!TU_Certificate_Name},Port={!TU_Credit_API_Port}</stringValue>
        </value>
    </variables>
    <variables>
        <name>storeURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>TUCreditAPIEndpoint.value</elementReference>
        </value>
    </variables>
</Flow>
